:root{
    /* Color */
    --color-main-bg: #090b1a;
    --color-card-bg: #1b1938;
    --color-accent: #aa5cdb;
    --color-white: #FFF;
    --color-main-para: #ffffffbf;
    --color-stat-header: #ffffff99;
    
    /* Fonts */
    --font-inter: 'Inter', sans-serif;
    --font-lexend: 'Lexend Deca', sans-serif;
    --font-size: 1rem;
}

body{
    background-color: var(--color-main-bg);
    margin: unset;
    font-size: var(--font-size);
    font-family: var(--font-inter);
    color: var(--color-white);
}

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 25px;
    }

    main .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 1200px;
    }

        main .container .text-container {
            background-color: var(--color-card-bg);
            width: 45%;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            padding: 3.66em;
        }

            .text-container h1{
                font-weight: 700;
                font-size: 2.66rem;
                letter-spacing: 0.03em;
                margin-bottom: 2.8rem;
            }

            .text-container .stats {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-right: 4.66em;
            }

                .text-container .stats .stat strong {
                    font-size: 1.6rem;
                }

                .text-container .stats .stat span {
                    display: block;
                    text-transform: uppercase;
                    color: var(--color-stat-header);
                    letter-spacing: 0.13rem;
                    font-size: 0.8rem;
                    padding-top: 0.66em;
                    font-family: var(--font-lexend);
                }

        main .container .text-container,
        main .container .img-container {
            align-self: stretch;
        } 

        main .container .img-container,
        main .container .img-container img, 
        main .container .img-container .accent-bg{
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }

        main .container .img-container {
            width: 55%;
            position: relative; 
        }

            main .container .img-container .accent-bg{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #aa5cdbc9;
                opacity: 0.8;
                
            }

            main .container .img-container img{
                object-fit: cover;
                object-position: right;
                width: 100%;
                height: 100%;
                -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
            }

.accent-text {
    color: var(--color-accent);
}

.main-para {
    color: var(--color-main-para);
    font-family: var(--font-lexend);
    letter-spacing: 0.04em;
    line-height: 2;
    margin-bottom: 2.8rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-bottom: 20px;
    color: var(--color-white);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Responsive */

@media only screen and (max-width: 767px){
    main .container{
        flex-direction: column-reverse;
        width: 100%;
    }

        main .container .img-container,
        main .container .text-container {
            width: auto;
            max-width: 100%;
        }

        main .container .text-container{
            padding: 2.66em;
            text-align: center;
            border-top-left-radius: unset;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }

            .text-container h1 {
                font-size: 1.5rem;
                margin-bottom: 1.8rem;
            }

            .main-para {
                font-size: 0.86rem;
            }

            .text-container .stats {
                flex-direction: column;
                justify-content: center;
                padding-right: unset;
            }

                .text-container .stats .stat{
                    margin-bottom: 1.66em;
                }


        main .container .img-container, 
        main .container .img-container img, 
        main .container .img-container .accent-bg {
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            border-bottom-right-radius: unset;
        }

        main .container .img-container img{
            object-position: center;
        }


}